<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class=" js no-flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" data-triggered="true" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><link type="text/css" rel="stylesheet" href="Hiperconvergencia%20y%20virtualizaci%C3%B3n%20VMware%20Cloud%20Director%20disponible%20en%20IKOULA%20|%20Business%20Wire_files/video-js.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>  {% block title %}  {% endblock %}</title>

<meta name="description" content="Descripcion de la pagina: Django & Python | Docker, virtualización y la hiperconvergencia... ">

  {% load static %}

	<meta name="viewport" content="width=device-width,initial-scale=1">
 
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">



 
	
<!-- script+style  1 removido -->


<!-- scrip+style 2  removido -->                      


</head>
<body id="bw-container">
	  <header role="banner">
		  <div>
			  <a href="http://www.businesswire.com/"><img id="bw-home-link" src="Hiperconvergencia%20y%20virtualizaci%C3%B3n%20VMware%20Cloud%20Director%20disponible%20en%20IKOULA%20|%20Business%20Wire_files/bwlogo_extreme.png" title="" alt="Business Wire"></a>
		  </div>
	  </header>

	  <div id="bw-main" role="main">
		  <div>
        <div class="bw-group-portlets" id="bw-group-all">
	        <div class="moduleContainer">

             {% block content %}  {% endblock %}


          </div> <!-- end moduleContainer -->
        </div> <!-- end .bw-group-portlets --> 
		  </div>
	  </div> <!-- end #bw-main -->

    <!-- SUBMENU -->  
	  <div id="bw-meta">
		  <div>
			    <nav id="bw-nav" role="navigation">
				      <h2><span>Site Navigation</span></h2>
				      <ul style="display: block;">
					        <!-- home -->      
                  <li id="bw-nav-home" class="bw-has-submenu ">
						          <a href="{% url 'index' %}"><span>Home</span></a>
						          <ul>
                        <li>
                        <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                        <a href="{% url 'index' %}">Enviar un artículo</a>
                        </li>
						          </ul>
					        </li>

                  <!-- paginas dinamicas -->
                  {% for page in pages %}
                        <li>
                        <a href="{% url 'page' page.2 %}"> {{page.1}}</a>
                        </li>
                  {% endfor %}
                  <!-- end pag dinamicas -->


                  <!-- STATIC LINK TO SERVICE DISABLE 
                  <li class="">
                    <a href="https://services.businesswire.com/" target="6f3959bc821238e8c27d3cbc0d908a0c"><span>Services</span></a>
                  </li>
                  -->

                  <!-- News -->
                  <li class="bw-has-submenu bw-current">
                    <a href="https://www.businesswire.com/portal/site/home/news/"><span>News</span></a>
                    <ul>
                      <li>
                        <a href="https://www.businesswire.com/portal/site/home/news/">All News</a>
                      </li>
                      <li>
                        <a href="https://www.businesswire.com/portal/site/home/news/multimedia/">News with Multimedia</a>
                      </li>
                      <li>
                        <a href="https://www.businesswire.com/portal/site/home/news/industries/">News by Industry</a>
                      </li>
                      <li>
                        <a href="https://www.businesswire.com/portal/site/home/news/subjects/">News by Subject</a>
                      </li>
                      <li>
                        <a href="https://www.businesswire.com/portal/site/home/news/languages/">News by Language</a>
                      </li>
                      <li>
                        <a href="https://www.businesswire.com/portal/site/home/events/">Tradeshows &amp; Events</a>
                      </li>
                    </ul>
				          </li>
                  <!-- education -->
                  <li class="bw-has-submenu ">
                    <a href="https://services.businesswire.com/resources-education"><span>Education</span></a>
                    <ul>
                      <li>
                        <a href="https://services.businesswire.com/resources-education">Overview</a>
                      </li>
                      <li>
                        <a href="https://blog.businesswire.com/">Blog</a>
                      </li>
                      <li>
                        <a href="https://services.businesswire.com/distribution-analytics/distribution-lists">Distribution &amp; Media</a>
                      </li>
                      <li>
                        <a href="https://services.businesswire.com/media-journalist-tools">Media &amp; Journalist Tools</a>
                      </li>
                      <li>
                        <a href="https://services.businesswire.com/resources-education/sample-press-release">Sample Press Release</a>
                      </li>
                      <li>
                        <a href="https://services.businesswire.com/find-your-news-online">Find Your News Online</a>
                      </li>
                      <li>
                        <a href="https://services.businesswire.com/resources-education/disclosure-resources">Disclosure Resources</a>
                      </li>
                    </ul>
                  </li>
                  <!-- about us -->
                  <li class="bw-has-submenu ">
                    <a href="{% url 'index' %}"><span>About Us</span></a>
                    <ul>
                      <li>
                        <a href="https://services.businesswire.com/about-us">Overview</a>
                      </li>
                      <li>
                        <a href="https://membership.businesswire.com/sign-up">Become a Member</a>
                      </li>
                      <li>
                        <a href="https://services.businesswire.com/contact-us">Contact Us</a>
                      </li>
                      <li>
                        <a href="https://services.businesswire.com/careers" target="39845f720a9103096b7b5acddb808a0c">Careers</a>
                      </li>
                      <li>
                        <a href="https://newsroom.businesswire.com/">Business Wire Newsroom</a>
                      </li>
                      <li>
                        <a href="https://newsroom.businesswire.com/events">Business Wire Events</a>
                      </li>
                    </ul>
                  </li>
				        </ul>
			      </nav>
            
            <!-- script 12 removed -->

            <div id="bw-search-js" class="bw-search-site">
            <div>
            <h2><span>Search</span></h2>
            <div id="bw-search-container" style="display: block;">
              <form id="bw-search-form" name="bw-search-form" action="/portal/site/home/template.SINGLEPORTLET/action.process/permalink/?javax.portlet.action=true&amp;currentTemplateID=PAGE&amp;javax.portlet.tpst=503a8767054f0df6a9e77a100d908a0c&amp;javax.portlet.begCacheTok=com.vignette.cachetoken&amp;javax.portlet.endCacheTok=com.vignette.cachetoken" onsubmit="return searchByUrl();" method="post">
                <fieldset>
                  <div id="bw-search-options">
                    <h3 id="bw-search-options-head" class="toggler hidden"><span>Search Options</span></h3>
                  <div id="bw-search-filter-links" class="togglee"><ul><li><a href="#?type=all" id="bw-search-filter-all" title="Search All" class="is-selected">Search All</a></li><li><a href="#?type=news" id="bw-search-filter-news" title="Search News">Search News</a></li><li><a href="#?type=site" id="bw-search-filter-site" title="Search Site">Search Site</a></li><li><a href="https://www.businesswire.com/portal/site/home/search?javax.portlet.tpst=503a8767054f0df6a9e77a100d908a0c&amp;javax.portlet.pbp_503a8767054f0df6a9e77a100d908a0c_view=advancedSearch&amp;javax.portlet.begCacheTok=com.vignette.cachetoken&amp;javax.portlet.endCacheTok=com.vignette.cachetoken" id="bw-search-filter-adv" title="Advanced News Search">Advanced News Search</a></li></ul></div></div>
                  <label for="bw-search-input">Advanced News Search</label>
                  <input type="search" id="bw-search-input" name="q" maxlength="256" title="Search BusinessWire.com" placeholder="Search">
                  <input type="hidden" id="bw-search-type" name="qSearchType" value="all">
                  <button type="submit" class="bw-button-primary" id="bw-search-button" title="Search"><span><img src="Hiperconvergencia%20y%20virtualizaci%C3%B3n%20VMware%20Cloud%20Director%20disponible%20en%20IKOULA%20|%20Business%20Wire_files/icon_search.gif" alt="Search"></span></button> 	

                </fieldset>
              </form>
            </div>
      </div>
      </div>
      <!-- script 13 removed -->
      <div id="bw-controls" class="bw-controls-site">
          <div id="bw-controls-container">	
            <ul>
              <li><a href="https://www.businesswire.com/portal/site/home/template.LOGIN/">Log In</a></li>
              <li><a href="https://www.businesswire.com/portal/site/home/signup/">Sign Up</a></li>
            </ul>
          </div>
      </div>
      <!-- script 14 removed -->
      
      </div>
	  </div><!-- end #bw-meta -->
	
  <footer>
		<div id="bw-footer-container">
			
      <div id="footer-follow">
				<h2><span>Follow Us</span></h2>
				<ul>
					<li id="footer-follow-twitter"><a href="http://twitter.com/wjoski/" class="bw-outbound" target="_blank"><span>Twitter</span></a></li>
					<li id="footer-follow-linkedin"><a href="http://www.linkedin.com/companies/itprowp" class="bw-outbound"  target="_blank"><span>LinkedIn</span></a></li>
				</ul>
			</div>

			<div id="footer-sites">
				<h2><span>More from Business Associate</span></h2>
				<ul>
					<li><a href="http://www.businesswire.com/blog" class="bw-outbound">Blog</a></li>
					<li><a href="http://www.businesswire.co.uk/" class="bw-outbound">UK/Ireland</a></li>
					<li><a href="http://www.businesswire.de/" class="bw-outbound">Deutschland</a></li>
					<li><a href="http://www.businesswire.fr/" class="bw-outbound">France</a></li>
					<li><a href="http://www.businesswire.hk/" class="bw-outbound">Hong Kong</a></li>
					<li><a href="http://www.businesswire.it/" class="bw-outbound">Italy</a></li>
					<li><a href="http://www.businesswire.jp/" class="bw-outbound">Japan</a></li>
					<li><a href="http://www.tradeshownews.com/">Tradeshownews.com</a></li>
				</ul>
			</div>
			
      <div id="footer-info" role="contentinfo">
				<h2><span>Business  Information</span></h2>
				<ul>
					<li><a href="http://newsroom.businesswire.com/contact" class="bw-outbound">Contact Us</a></li>
					<li><a href="https://services.businesswire.com/uk-tax-strategy-page" target="_blank" class="bw-outbound">UK Tax Strategy</a></li>
					<li><a href="https://services.businesswire.com/privacy">Privacy</a></li>
					<li><a href="#" class="ot-sdk-show-settings" text="Manage Cookies">Manage Cookies</a></li>
					<li><a href="https://www.businesswire.com/portal/site/home/terms-of-use/">Terms of Use</a></li>
					<li><a href="https://www.businesswire.com/portal/site/home/copyright/">© 2020 Systems Company , Inc.</a></li>
				</ul>
			</div>

		</div> <!-- #"bw-footer-container"> -->

      <!-- <div id="cookie-consent">
        <div class="container">
          <div id="consentText" class="cookieText">
            <span class="explainRequire">This site uses cookies. By continuing to browse this Business Wire site (and/or any other Business Wire website), you accept the use of cookies.</span>
            <a aria-label="learn more about cookies" role="button" tabindex="0" class="privacy-link" href="/portal/site/home/privacy/" target="_blank">Learn more</a>
          </div>
          <div id="consentButton" class="compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">I agree</a></div>
        </div>
      </div> -->

  </footer>

  <!-- script 15 removed -->


	<script>
		// Cancel hover menus for touch devices, then change menu link to toggle the hover (but not if whole nav is toggled)
		var hasTouch = ("ontouchstart" in window);
		if ( hasTouch && jQuery('#bw-nav h2').css('display')=='none' ) {
			new BWNav("#bw-nav > ul", "#bw-nav > ul > li > a").toggleMenus();
		};
		
		// Track outbound links
		var followLinks = jQuery('a.bw-outbound');
		followLinks.each(function() {
			jQuery(this).click(function() {
				var thisTrack = jQuery(this).attr('href');
				_gaq.push(['_trackEvent', 'Ads', 'Click', thisTrack]);
			});
		});
	</script>
	
  <!-- scxtip 16 removed -->

  <!-- div 1 removed-->

</body>
</html>