{% extends 'layouts/layout-original.html' %}

{% block title %} {{title}} {% endblock %}

{%  block content %}
    <h1> {{title}} </h1>
    <hr>

    {% if messages %}

        {% for message in messages %}
            <div class="alert success">
                {{message}}
            </div>
        {% endfor %}

    {% endif %}

    <!-- si el usuario esta autenticado -->
    {% if user.email %}
        <h2>Bienvenido, {{request.user.first_name}}</h2>
        <p>
        {{user.email}}
        </p>
    {% else %}
        <h3>Log in para acceder a las opciones del sistema</h3>
    {% endif %}

 {% endblock %}


