  <!-- Noticias -->
<div id="ajaxRecentStories">

                  <div class="bw-release-related">
	                  <h2 id="morenewsHeadInfo">More News</h2>
                     
	                  <ul id="morenewsSectionInfo">

                            {% comment %} <!-- CICLO DE NOTICIAS -->
                            {% for news in range(3): %}
			                <li>
                                {{news}}
                            {% endfor %} {% endcomment %}
                            

		    	                <div>October 07, 2020</div>
			                      <a href="https://www.businesswire.com/news/home/20201007005575/es/" rel="nofollow">
                                  Desarrollo  empresarial: IKOULA refuerza su presencia en Europa </a>
		                  </li>
                            <li>  
			                  <div>June 30, 2020</div>
			                    <a href="https://www.businesswire.com/news/home/20200630005670/es/" rel="nofollow">Infraestructura hiperconvergente: IKOULA elige a DELL Technologies y su solución Vmware VxRail
                             </a>
		                    </li>
		                 
	                  </ul>
                  </div> <!--  class="bw-release-related"> -->
                  <!-- script 10 removed -->

</div> <!-- id="ajaxRecentStories"> -->