{% extends 'layouts/layout-original.html' %}

{% comment %} {% extends 'layouts/layout.html' %} {% endcomment %}



{% block title %} {{page.title}} {% endblock %}

{%  block content %}
  
<article class="bw-release-main">
  <div class="bw-release-body ">
      <div class="bw-release-story" itemprop="articleBody">

              <h1 class="epi-pageTitle"> {{page.title}} </h1>

              <div class="bw-release-timestamp">
                  {{page.created_at}}       
              </div>

              <!--  Se agrega |safe para activar el texto enriquecido -->
              {{page.content|safe}} 

              
      </div>
  </div>
</article>

    <!-- ASIDE -->
{% comment %}     <div class="bw-release-sidebars">
   
          {% include 'pages/ads+company-info.html' %}
              
          {% include 'pages/pages-others-version.html' %}

          {% include 'pages/news.html' %}
   
                <!-- script 11 removed -->
    </div>  {% endcomment %}
    <!-- class="bw-release-sidebars"> -->

 {% endblock %}
