 <!--- Pagina en otros idiomas -->
<div id="ajaxReleaseVersions">

		              <div class="bw-release-versions">
			              <h2>Release Versions</h2>
			              <ul
                            <li> 
                                <a href="https://www.businesswire.com/news/home/20201028005077/fr/" rel="nofollow">French</a>
                            </li>
			    			<li> 
								      <a href="https://www.businesswire.com/news/home/20201028005091/en/Hyperconvergence-Virtualization-VMware-Cloud-Director-Available-at-IKOULA" rel="nofollow">English</a>
							</li>
	                        <li> 
                                <a href="https://www.businesswire.com/news/home/20201028005077/es/" rel="nofollow">Spanish</a>
                            </li>
						    </ul>
		              </div>
</div> <!-- id="ajaxReleaseVersions"> -->