{% extends 'layouts/layout-original.html' %}

{% comment %} {% extends 'layouts/layout.html' %} {% endcomment %}



{% block title %} {{page.title}} {% endblock %}

{%  block content %}
  

<article class="bw-release-main">
    <div class="bw-release-body ">
            <div class="bw-release-story" itemprop="articleBody">

                <h1 class="epi-pageTitle">  {{title}} </h1>
        </div>

        {% include 'articles/articles.html' %}

        <!-- pagination -->
        {% include 'articles/pagination.html' %}


    </div>
</article>

 {% endblock %}
